package pages

import "umy/templates"

templ Media() {
    @templates.Layout("Add new media") {
        <main>
            <h2>Add a new audio/video </h2>

            <form method="POST" action="/admin/media">

            </form
        </main>
    }
}